@font-face {
    font-family: "Spacemono";
    src: url("/fonts/SpaceMono-Regular.ttf");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Medium.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-ExtraBold.ttf");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}